.map {
    height: 95%;
}
.map-container {
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.map-information-panel {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #fff;
    background: #1978c8;
    border-radius: 5%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapboxgl-popup-close-button {
    padding: 5px;
    margin-left: 20px;
}

.mapboxgl-popup-content {
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 20px;
    pointer-events: auto;
    display: flex;
    flex-grow: 1;
    flex-basis: content;
    width: 140px;
}
